#header {
    background-color: aliceblue;
    height: 100px;
}
#nav {
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    float: left;
}
#section {
    width: 200px;
    text-align: left;
    float: left;
    padding: 10px;
}
#footer {
    background-color: blanchedalmond;
    height: 100px;
    clear: both;
}
#header, #nav, #section, #footer { text-align:center; }
#header, #footer {line-height: 100px;}
#nav, #section {line-height: 240px;}