
  html, body {
    height: 100%;
  }

  .textbox{
    border: 3px solid #FFD400;
    border-radius: 0px;
    height: 20px;
    width: 200px;
    background: #fff;
    align-items: center;
    justify-content: center;
    /* position:absolute; */
    margin-left: 100%;
    
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #FFD400;
    box-shadow: 0px 15px 20px #ffd50075;
    color: #fff;
    transform: translateY(-7px);
  }
  .menutitle{
    text-align: center;
    width: 250px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(255, 212, 0);
}