.card {
    border-radius: 45px;
    background-color:white;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.card-body {
    line-height:30px;
    font-size: 20px;
    text-align: left;
    margin-left:40px;
    margin-bottom: 40px;
    font-family: Nanum-Gothic;
    
}

.color {
    background-color:blue;
    text-align: center;
    width: 100px;
    height: 100px;
}

#section {
    line-height: 30px;
}