
  .writebtn{
    width:120px;
    height:35px;
    border:1px solid #FFD400;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
  }
  .writebtn a{
    font-family:arial;
    font-size:16px;
    color: #000;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:10;
    position:relative;
  }
  .writeeff{
    width:140px;
    height:50px;
    left:-140px;
    background:#FFD400;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }
  .writebtn:hover .writeeff{
    left:0;
  }
  .writebtn:hover a{
    color:#fff;
  }
  
  
