{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <title>GETIT</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
</head>

<body>
    <div class="header">
        <div class="nav-item">
            {% if user.is_authenticated %}
            <div class="hello">
                <p style="font-family:Nanum Gothic;">안녕하세요, {{user.username}}님! </p>
            </div>
            <div class="condition">
                <a href="{% url 'mypage' user.username %}"> <img src="../../media/profile/basic_profile.jpg"
                        style="margin-right:20px; margin-top:20px;" width="40px"></a>
                <a href="javascript:{document.getElementById('logout').submit()}"
                    style="font-family:Nanum Gothic;">Logout</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {%csrf_token%} <input type="hidden" />
                </form>
            </div>
            {% else %}
            <div class="condition2">
                <a href="{% url 'signup' %}" style="margin-right:10px;">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="con">
        {% block content %}
        <!-- 다른 템플릿에서 이 템플릿을 상속받아 사용할 때 이 위치에 코드들이 적용된다. -->
        {% endblock %}
    </div>
    <div id="footer">
        <p align="left" style="font-size: 25px; font-family: Nanum Gothic; line-height: 20px; margin-left: 10px; margin-top: 20px;">💛Team GETIT</p>
        <p align="left" style="font-size: 18px; font-family: Nanum Gothic; line-height: 10px; margin-left: 10px;">KNU Computer Science</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic; line-height: 10px; margin-left: 10px;">이은주(Lee Eunjoo) | Contact: leeeun5423@naver.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">김민주(Kim Minjoo) | Contact: trdcc77@naver.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">김영효(Kim Younghyo) | Contact: kyh12180@gmail.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">서경희(Seo Kyounghee) | Contact: lhskh307218@daum.net</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">이은지(Lee Eunji) | Contact: dldmswl6233@naver.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">최희정(Choi Heejung) | Contact: nuly7029@gmail.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px;">홍송은(Hong SongEun) | Contact: yellowhong@gmail.com</p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px; margin-top: 10px; display: inline;"><a href="{% url 'support' %}">Support</a></p>
        <p align="left" style="font-size: 15px; font-family: Nanum Gothic;line-height: 10px;margin-left: 10px; margin-top: 10px;display: inline;"><a href="{% url 'main' %}">Main</a></p>
        <h6>Copyright 2021. CANDLE EDU All rights reserved.</h6>

    </div>
</body>

</html>