{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../../static/css/mentor_list.css">
    <div id="nav">
        <h2>nav 영역</h2>
    </div>
    <div id="section">
        <h1> 멘토 글 목록 </h1>
        {% for mentor in mentors %} 
            <div class="card">
                <div class="card-body">
                    <br>
                    <p class="title"> {{ mentor.title }}</p>
                    <p class="user">작성자 : {{ mentor.user }}</p>
                    <p class="recruit_term">모집 기간 : {{ mentor.recruit_startdate }} ~ {{ mentor.recruit_enddate }} </p>
                    <br>
                </div>
            </div>   
        {% endfor %}
        <button class="button" onclick="location.href='/mentor_post'">
            <h3>글 작성</h3>
        </button>
    </div>  
{% endblock %}