{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../../static/css/mentor_detail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        table {
            border:2px solid;
        }
        td, tr {
            border:1px solid; padding: 10px 5px; border-collapse:collapse;
        }
    </style>
    <div id="middle">
        <div id="nav" style="float:left;">
        
        </div>
        <div>
            <div id="content">
                <div id="title">
                    <div id="title-button">제목</div>
                    {{blog.title}}
                </div>
                <table>
                        <tr>
                            <td>
                                모집기간
                            </td>
                            <td>
                                {{blog.recruit_startdate|date:"Y년 m월 d일"}} ~ {{blog.recruit_endDate|date:"Y년 m월 d일"}}
                            </td>
                            <td>
                                봉사기간
                            </td>
                            <td>
                                {{blog.volun_startDate|date:"Y년 m월 d일"}} ~ {{blog.volun_endDate|date:"Y년 m월 d일"}}
                            </td>
                        </tr>
                            <td>
                                봉사 시간대
                            </td>
                            <td>
                                {{blog.volun_times}}
                            </td>
                            <td>
                                봉사 요일
                            </td>
                            <td>
                                {{blog.volun_day}}
                            </td>
                        <tr>
                            <td>
                                모집 정원
                            </td>
                            <td>
                                {{blog.recruit_number}}
                            </td>
                            <td>
                                봉사 형태
                            </td>
                            <td>
                                {{blog.volunType}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                봉사 장소
                            </td>
                            <td>
                            <span id="volun_place">{{blog.volun_place}}</span>
                            </td>
                            <td>
                                봉사 대상
                            </td>
                            <td>
                                {{blog.volun_for}}
                            </td>
                        </tr>
                </table>

                <div id="lat" style="display:none"> <!--위도값 불러와서 저장-->
                    {{blog.center_latitude}}
                </div>

                <div id="lng" style="display:none"> <!--위도값 불러와서 저장-->
                    {{blog.center_longitude}}
                </div>

                <div id="map" style="font-size:15px;width:700px;height:350px; margin:10px;"></div>

                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50f777e80931e3ecceb48757ca6e4bf&libraries=services,clusterer,drawing"></script>
                <script>
                    var lat = document.getElementById("lat").innerText; 
                    var lng = document.getElementById("lng").innerText;
                    var volun_place = document.getElementById("volun_place").innerText;

                    var container = document.getElementById('map');
                    var options = {
                        center: new kakao.maps.LatLng(lat, lng),
                        level: 3
                    };
                    var coordinate = new kakao.maps.LatLng(lat, lng);

                    var map = new kakao.maps.Map(container, options);

                    var marker = new kakao.maps.Marker({
                            map: map,
                            position: coordinate,
                            title: volun_place
                        });

                    marker.setMap(map); //marker가 지도 위에 표시되도록 설정

                    var iwContent = '<div style="padding:5px; display: inline-block;">'+ volun_place +'</div>';
                    var iwPosition = coordinate; //인포윈도우 표시 위치
                    var iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼 표시

                    var infoWindow = new kakao.maps.InfoWindow({
                            //content: list_bdy[idx]
                            position: iwPosition,
                            content: iwContent,
                            removable : iwRemoveable
                        });
                    infoWindow.open(map, marker);
                </script>

            </div>
        </div>
    </div>
{% endblock %}